* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(36, 40, 46);
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

h1 {
  padding: 2.5rem 0;
  color: white;
  font-size: 5rem;
}